/* ---------- desktop layout --------------------------------------- */

.en_left_wrapper,
.en_right_wrapper  {
  float: left;
  clear: left;
}

.twocolumn .en_left_wrapper {
  float: left;
  clear: left;
}

.twocolumn .en_right_wrapper {
  float: right;
  clear: right;
  width: 40%;
}

.en_left_wrapper {
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30em;
  min-width: 60%;
}

.en_right_wrapper {
  max-width: 30em;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 4em;
}

/* ---------- desktop styles --------------------------------------- */

.background-image {
  left: auto;
  bottom: 0;
  right: 0;
}
.background-image img {
  width: auto;
}
.en_left_wrapper {
  min-height: none;
  right: 37em;
}

.logo {
  position: fixed;
  bottom: 110px;
}
.logo,
.fixed {
  margin-left: 4em;
}
.fixed {
  width: auto;
}

.copy blockquote cite {
  font-size: 0.25em;
}
.en_left_wrapper .copy {
  padding-top:  2.05882353em;
}

.footer .logos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 560px;
  max-width: 900px;
  border-top: 2px solid #ffffff;
  text-align: right;
  margin-right: 6em;
}
.footer .logos img {
  height: 60px;
  padding: 0 0.73529412em;
}
.footer .logos .first {
  float: left;
}
#left-footer {
  background-color: transparent;
}

#eaerrors {
  float: right;
  width: 40%;
  max-width: 34em;
  padding-left: 3.4em;
  padding-right: 4.5em;
  z-index: 0;
}

.show-intro {
  display: block;
}
#intro-copy {
  display: none;
}

.stuck {
  position: fixed;
}
#sticky-target.stuck {
  padding-top: 1.97058824em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 4em;
  margin-left: -3em;
  margin-right: -4em;
}
.twocolumn .sticky-wrapper .stuck {
  width: 40%;
  max-width: 30em;
}
